
nav {
	width: 100%;
	background-color: var(--fondo-2);
}
ul { margin: 0; }
li {
	display: inline-block;
	padding: 10px;
}
li>a {
	color: var(--texto-2);
}
li>a:hover {
	color: yellow;
}
.login {
	float: right;
	background-color: var(--fondo-2);
}
































